In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [0]:
countries_list = [
    [1, 'USA'],
    [2, 'BRA'],
    [3, 'ITA'],
    [4, 'FRA'],
    [5, 'MEX'],
    [6, 'ARG'],
    [7, 'JPN'],
    [8, 'AUS'],
    [9, 'ENG']
]

countries_schema = StructType([ \
    StructField("country_id", IntegerType(),True),
    StructField("country_name", StringType(), True)
  ])

countries_df = spark.createDataFrame(countries_list, schema=countries_schema)

In [0]:
cities_list =[
    [45, 1, 'Miami'],
    [12, 10, 'Moscow'],
    [23, 2, 'Sao Paulo'],
    [98, 12, 'Cape Town'],
    [21, 3, 'Rome'],
    [34, 4, 'Paris'],
    [77, 6, 'Buenos Aires'],
    [31, 9, 'London'],
    [56, 15, 'Dublin'],
    [20, 1, 'Los Angeles']
]

cities_schema = StructType([ \
    StructField("city_id", IntegerType(),True),
    StructField("country_id", IntegerType(),True),
    StructField("city_name", StringType(), True)
  ])

cities_df = spark.createDataFrame(cities_list, schema=cities_schema)

In [0]:
countries_df.display()

country_id,country_name
1,USA
2,BRA
3,ITA
4,FRA
5,MEX
6,ARG
7,JPN
8,AUS
9,ENG

In [0]:
cities_df.display()

city_id,country_id,city_name
45,1,Miami
12,10,Moscow
23,2,Sao Paulo
98,12,Cape Town
21,3,Rome
34,4,Paris
77,6,Buenos Aires
31,9,London
56,15,Dublin
20,1,Los Angeles

#PySpark Joins
Documentation: https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.join.html

![Joins](https://i.stack.imgur.com/hMKKt.jpg)

###Inner Join

In [0]:
inner_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'inner'
)

inner_df.display()

city_id,country_id,city_name,country_id,country_name
45,1,Miami,1,USA
20,1,Los Angeles,1,USA
23,2,Sao Paulo,2,BRA
21,3,Rome,3,ITA
34,4,Paris,4,FRA
77,6,Buenos Aires,6,ARG
31,9,London,9,ENG

In [0]:
cross_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'cross'
)

cross_df.display()

city_id,country_id,city_name,country_id,country_name
45,1,Miami,1,USA
20,1,Los Angeles,1,USA
23,2,Sao Paulo,2,BRA
21,3,Rome,3,ITA
34,4,Paris,4,FRA
77,6,Buenos Aires,6,ARG
31,9,London,9,ENG

### Full Outer Join

In [0]:
outer_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'outer'
)

outer_df.display()

city_id,country_id,city_name,country_id,country_name
45,1,Miami,1,USA
20,1,Los Angeles,1,USA
23,2,Sao Paulo,2,BRA
21,3,Rome,3,ITA
34,4,Paris,4,FRA
null,null,null,5,MEX
77,6,Buenos Aires,6,ARG
null,null,null,7,JPN
null,null,null,8,AUS
31,9,London,9,ENG
12,10,Moscow,null,null
98,12,Cape Town,null,null
56,15,Dublin,null,null

In [0]:
full_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'full'
)

full_df.display()

city_id,country_id,city_name,country_id,country_name
45,1,Miami,1,USA
20,1,Los Angeles,1,USA
23,2,Sao Paulo,2,BRA
21,3,Rome,3,ITA
34,4,Paris,4,FRA
null,null,null,5,MEX
77,6,Buenos Aires,6,ARG
null,null,null,7,JPN
null,null,null,8,AUS
31,9,London,9,ENG
12,10,Moscow,null,null
98,12,Cape Town,null,null
56,15,Dublin,null,null

In [0]:
full_outer_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'full_outer'
)

full_outer_df.display()

city_id,country_id,city_name,country_id,country_name
45,1,Miami,1,USA
20,1,Los Angeles,1,USA
23,2,Sao Paulo,2,BRA
21,3,Rome,3,ITA
34,4,Paris,4,FRA
null,null,null,5,MEX
77,6,Buenos Aires,6,ARG
null,null,null,7,JPN
null,null,null,8,AUS
31,9,London,9,ENG
12,10,Moscow,null,null
98,12,Cape Town,null,null
56,15,Dublin,null,null

### Left Join

In [0]:
left_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'left'
)

left_df.display()

city_id,country_id,city_name,country_id,country_name
45,1,Miami,1,USA
12,10,Moscow,null,null
23,2,Sao Paulo,2,BRA
98,12,Cape Town,null,null
21,3,Rome,3,ITA
34,4,Paris,4,FRA
77,6,Buenos Aires,6,ARG
31,9,London,9,ENG
20,1,Los Angeles,1,USA
56,15,Dublin,null,null

In [0]:
left_outer_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'left_outer'
)

left_outer_df.display()

city_id,country_id,city_name,country_id,country_name
45,1,Miami,1,USA
12,10,Moscow,null,null
23,2,Sao Paulo,2,BRA
98,12,Cape Town,null,null
21,3,Rome,3,ITA
34,4,Paris,4,FRA
77,6,Buenos Aires,6,ARG
31,9,London,9,ENG
56,15,Dublin,null,null
20,1,Los Angeles,1,USA

###Right Join

In [0]:
right_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'right'
)

right_df.display()

city_id,country_id,city_name,country_id,country_name
20,1,Los Angeles,1,USA
45,1,Miami,1,USA
23,2,Sao Paulo,2,BRA
21,3,Rome,3,ITA
34,4,Paris,4,FRA
null,null,null,5,MEX
77,6,Buenos Aires,6,ARG
null,null,null,7,JPN
31,9,London,9,ENG
null,null,null,8,AUS

In [0]:
right_outer_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'right_outer'
)

right_outer_df.display()

city_id,country_id,city_name,country_id,country_name
20,1,Los Angeles,1,USA
45,1,Miami,1,USA
23,2,Sao Paulo,2,BRA
21,3,Rome,3,ITA
34,4,Paris,4,FRA
null,null,null,5,MEX
77,6,Buenos Aires,6,ARG
null,null,null,7,JPN
null,null,null,8,AUS
31,9,London,9,ENG

###Semi Join

In [0]:
semi_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'semi'
)

semi_df.display()

city_id,country_id,city_name
45,1,Miami
20,1,Los Angeles
23,2,Sao Paulo
21,3,Rome
34,4,Paris
77,6,Buenos Aires
31,9,London

In [0]:
left_semi_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'left_semi'
)

left_semi_df.display()

city_id,country_id,city_name
45,1,Miami
20,1,Los Angeles
23,2,Sao Paulo
21,3,Rome
34,4,Paris
77,6,Buenos Aires
31,9,London

###Anti Join

In [0]:
anti_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'anti'
)

anti_df.display()

city_id,country_id,city_name
12,10,Moscow
98,12,Cape Town
56,15,Dublin

In [0]:
left_anti_df = cities_df.join(
    countries_df,
    cities_df.country_id == countries_df.country_id,
    'left_anti'
)

left_anti_df.display()

city_id,country_id,city_name
12,10,Moscow
98,12,Cape Town
56,15,Dublin